# http://webui.me
# https://github.com/webui-dev/zig-webui
# Licensed under MIT License.
# All rights reserved.
name: CI
on:
  push:
    paths:
      - "**.zig"
  pull_request:
    branches: [main]
    paths:
      - "**.zig"
      # schedule:
    # - cron: "0 2 * * *"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [0.14.0, 0.15.1]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        if: runner.os == 'macOS'
        with:
          xcode-version: latest-stable
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ matrix.version }}
      - uses: actions/checkout@v4
      - name: Build examples
        run: zig build examples
      - name: Build examples dynamic
        if: runner.os != 'Windows'
        run: zig build examples -Dis_static=false
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
      - name: Verify formatting
        run: zig fmt .
